<div class="container">
  <app-add-section-board (sectionAddEvent)='addNew($event)'></app-add-section-board>

  <button class="addNoteButton"(click)="addNote($event)">AddNote</button>
  <div class="sections">
    <div class="section" *ngFor='let section of sections'>
      <app-idea-board-section-header [sectionName]='section'></app-idea-board-section-header>
    </div>
  </div>
  
  <!-- <div cdkDrag>hello</div> -->
  
  <div #boardBody *ngFor='let note of notes'>
    <app-idea-board-item [note]='note' (closeEmitter)='closeNote($event)'></app-idea-board-item>
  </div>

</div>  